*{
    box-sizing: border-box;
}
body{
    background-color: rgb(252, 243, 231);
}
header{
    background-image: url("../assets/images/portfolio-banner.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    color:azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header h1{
    display: inline-block;
}

.header nav{
    float: right;
    margin-right: 20px;
    padding-top: 15px;
}
.header nav ul li{
    display: inline-block;
    margin-right: 20px;

}
.bradyPic {
    height: 150px;
    display: block;
}
a{
    color: azure;
    text-decoration: none
}

.aboutMe {
    display: flex;
    flex-wrap: wrap;
}


/* footer ul li{
    display: inline-block;
    margin-left:25px;
} */